<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
</head>
<body>
<div class="layui-table-cell laytable-cell-5-undefined laytable-cell-undefined" id="text">
    <video class="kv-preview-data file-preview-video" style="width: 213px; height: 160px;" preload="none" controls="" poster="/buildermall/file/fileDown?type=2&amp;fileName=dsadsad"><source src="http://localhost:8081/buildermall/video/313_8672bb66-4707-4917-9f20-00bcb7a0546d.mp4" type="video/mp4">
        <div class="file-preview-other">
            <span class="file-other-icon"><i class="glyphicon glyphicon-king"></i></span>
        </div>
    </video>
</div>

<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->

<script>
    $(document).ready(function(){

    })
</script>

</body>
</html>